/* ==============================================
   Google Fonts: Inter (imported from CDN)
   Note: For best performance you could move this to <head> links instead of @import.
   ============================================== */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
}

/* Utility class to apply Inter */
.font-inter {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

/* ==============================================
   GRAND HOTEL - Regular
   ============================================== */

@font-face {
  font-family: "Grand Hotel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/Grand-Hotel/GrandHotel-Regular.woff2") format("woff2"),
    url("../fonts/Grand-Hotel/GrandHotel-Regular.woff") format("woff"),
    url("../fonts/Grand-Hotel/GrandHotel-Regular.ttf") format("truetype");
}
/* ==============================================
   Inter - Regular 
   ============================================== */

.paragraph {
  @apply text-[1.35rem] lg:text-xl leading-relaxed;
}

.paragraph-md {
  @apply text-xl leading-9 lg:text-base;
}

.paragraph-sm {
  @apply text-lg leading-9 lg:text-sm;
}

/* Homepage Headers */

.heading-1 {
  @apply text-5xl font-normal transition-colors duration-300;
}

.heading-2 {
  @apply text-5xl font-normal leading-normal lg:text-4xl tracking-wide text-center uppercase lg:text-left;
}

.heading-2-sub {
  @apply text-[34px] lg:text-3xl font-normal tracking-wide text-center uppercase;
}

.heading-3 {
  @apply text-[1.8rem] lg:text-2xl font-normal tracking-wide text-center uppercase;
}
